* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  --primary: #0a0b37;
  --secondary: #c911b5;
  --tertiary: #0d0e2a;
}

body {
  background: rgb(10 12 28);
}

html {
  scroll-behavior: smooth;
}